.typing-effect {
  /*width: 26ch;*/
  animation: flashing-border 2s step-end infinite, printed-text 2s steps(26);
}

@keyframes flashing-border {
  0% {
    border-color: var(--orange-200);
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: var(--orange-200);
  }
}

@keyframes printed-text {
  from {
    width: 0;
  }
}

.slide-right {
  animation: slideRight 2s ease-in-out;
}

@keyframes slideRight {
  0%{transform: translateX(-150%)}
  50%{transform: translateX(8%)}
  65%{transform: translateX(-4%)}
  80%{transform: translateX(4%)}
  100%{transform: translateX(0%)}
}
